*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    background-color: midnightblue;
    color: white;
    padding: 25px;
    
}
h1{
    color: blue;
    text-align: center;
}

h2{
    color: white;
    text-align: left;
}

h4{
    color: dodgerblue;
    text-align: end;
}
.input-row{
    display: flex;
    width: 100%;
    gap: 10px;
    
}
input{
    background-color: #1e3a5f;
    color: white;
    padding: 10px;
    border: 2px solid lightblue;
    margin-bottom: 15px;
    flex: 1;
}

button{
    background-color: skyblue;
    color: white;
    padding: 10px;
    border: 2px solid skyblue;
    white-space: nowrap;
    


}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
    position: relative;
    padding: 12px;
    background-color:cornflowerblue ;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover{
    color: white;
}

ul li.checked{
    background: white;
    text-decoration: line-through;
}

ul li.checked::before{
    content: '';
    position: absolute;
    border-color: skyblue;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;

}